html {
    background-color: rgb(129, 132, 129);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    /* max-width: 1200px; */
    min-width: 400px;
    background-color: rgb(255, 248, 228);
    margin: 20px 20px;
    border-radius: 1em;
    padding: 1em;
    box-shadow: 1em 1em 1em rgba(0, 0, 0, 0.133);
}

table {
    box-sizing: border-box;
    width: 100%;
    padding: 1em;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.296);
    border-radius: .4em;
    box-shadow: 0 .3em .3em rgba(0, 0, 0, 0.149);
}

table caption {
    font-size: large;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

table tr {
    margin: 0;
    padding: .425em;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 1s;
}

tr:hover {
    box-shadow: 0 .1em 1em rgba(0, 0, 0, 0.156);
    transition: box-shadow .3s;
}

table td {
    padding: .1em .25em;
}

table td a {
    text-decoration: none;
    color: black;
}

table tr a:visited {
    color: grey;
}

header {
    display: flex;
    flex-direction: row;
    gap: 2em;
    margin-bottom: 1em;
    background-color: rgba(0, 0, 0, 0.069);
    border-radius: 1em 1em 0 0;
    padding: 1em;
}

header img {
    height: 5em;
    aspect-ratio: 1/1;
}

header h1 {
    color: rgb(38, 46, 38);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-shadow: .1em .1em .1em rgba(0, 0, 0, 0.302);

}

.content {
    display: grid;
    grid-template-columns: 20em auto;
    column-gap: 1em;
    height: 30em;
}



.station-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows:min-content;
    /* grid-auto-rows:min-content;
    min-height: 0; */


}
.span2 {
    column-span: all;
    grid-column: unset;
}

.station-info span {
    padding: .2em;
    height: fit-content;
    box-sizing: border-box;

}

.station-info span:nth-child(2n) {
    grid-column: 1/2;
}

.station-info span:nth-child(2n+1) {
    grid-column: 2/3;
}

.station-info span:nth-child(1) {
    grid-column: 1/3;
    width: 100%;
    text-align: center;
    font-size: larger;
    font-weight: bold;
    box-sizing: border-box;
}

.map-pane {
    width: 100%;
    height: 100%;
    border: 1 solid rgba(0, 0, 0, 0.141);
    border-radius: .4em;
}
.crud_button {
    border-radius: .2em;
    border: 2px solid rgba(0, 0, 0, 0.277);
    background-color: rgb(255, 174, 0);
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    margin-top: 1em;
    padding: .3em .7em;
    margin-right: .4em;
    width: fit-content;
    transition: box-shadow 1s, color .2s;

}
.crud_button:hover {
    box-shadow: .1em .2em .2em rgba(0, 0, 0, 0.152);
    transition: box-shadow .4s, color .4s;
    color: red;
}
a {
    display: inline-block;
    text-decoration: none;
    box-sizing: border-box;
}



.station-info label {
    padding: .2em;
    height: fit-content;
    box-sizing: border-box;

}

.station-info *:nth-child(2n) {
    grid-column: 1/2;
}

.station-info *:nth-child(2n+1) {
    grid-column: 2/3;
    margin: .2em;
}
.station-info div:nth-child(2n) {
    grid-column: 1/3;

}
.station-info div {
    grid-column: 1/3;
    text-align: right;
}