<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'freq/styles/base.css' %}" />
    {% comment %}
    <link rel="stylesheet" href="/static/polls/style.css" />
    {% endcomment %}
  </head>
  <body>
    {% include "freq/head.html" %}

    <div class="content">
      <form class="station-info" method="post">{% csrf_token %}
        {{ form}}


        {% comment %} <label>NAME: <input type="text" name="name" id="name" class="span2"/></label>
        <label>RANGE:<input type="number" name="range" id="range" /></label>
        <label>POWER:<input type="number" name="power" id="power" /></label>
        <label>UPPER:<input type="number" name="upper" id="upper" /></label>
        <label>LOWER:<input type="number" name="lower" id="lower" /></label>
        <label>LATITUDE:<input type="number" name="latitude" id="latitude"/></label>
        <label>LONGITUDE:<input type="number" name="longitude" id="longitude"/></label>{% endcomment %}
        <div class="span2"><input type="submit" value="SAVE" class="crud_button" /> </div>
      </form>
      <iframe
        class="map-pane"
        src="https://www.openstreetmap.org/export/embed.html?bbox={{map_west}}%2C{{map_south}}%2C{{map_east}}%2C{{map_north}}&amp;layer=mapnik&amp;marker={{frequency.latitude}}%2C{{frequency.longitude}}"
      ></iframe>
    </div>

    <a href="/freq">↩Back</a>

    {% comment %}
    <iframe
      class="map-pane"
      src="https://www.openstreetmap.org/export/embed.html?bbox={{map_west}}%2C{{map_south}}%2C{{map_east}}%2C{{map_north}}&amp;layer=mapnik&amp;marker={{frequency.latitude}}%2C{{frequency.longitude}}"
    ></iframe>
    {% endcomment %}
  </body>
</html>
